@font-face {
src: url("fonts/Yeseva+One.ttf");
font-family:"Yeseva+One";
}
    
body {
background: #E5E5E5;
margin: 0 auto;
box-sizing: border-box;
} 

.header {
position: relative;
width: 375px;
height: 57px;
background: black;
}

.header-content {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 23px;
padding-right: 18px;
padding-left: 18px;
}

.ic {
position: relative;
width: 150px;
height: 10px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-transform: uppercase;
color: #E3B873;
}

.ic:hover, .telephon:hover {
border-bottom: 2px solid #2798f1;
}

.telephon {
position: relative;
width: 102px;
height: 12px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: right;
color: #FFFFFF;	
}

.wrapper {
position: relative;
display: flex;
flex-direction: column;
width: 375px;
height: 5029px;
}

.span {
color: #E3B873;
}

.span1:hover {
background-image: linear-gradient(to right, #2798f1 0%, #2798f1 100%);
background-repeat: repeat-x; 
background-position: 0 100%; 
background-size: 100% 3px;
} 

.room {
position: relative;
width: 375px;
height: 476px;

}

.filter-room {
position: relative;
width: 375px;
height: 476px;
filter: brightness(0.3);
}

.img-room {
position: relative;
width: 375px;
height: 476px;
}

.text-room {
position: relative;
display: flex;
flex-direction: column;
width: 339px;
height: 365px;
bottom: 414px;
left: 18px;
}

.h1 {
position: relative;
width: 331px;
height: 60px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 31px;
text-transform: uppercase;
color: #FFFFFF;	
}

.mini-text-room {
position: relative;
width: 285px;
height: 94px;
bottom: 16px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.but1-room {
position: relative;
width: 338px;
height: 51px;
bottom: 0px;
border: 2px solid #E3B873;
background: #E3B873;
}

.but2-room {
position: relative;
width: 338px;
height: 51px;
top: 20px;
background-color: Transparent;
background-repeat:no-repeat;
cursor:pointer;
overflow: hidden;
outline:none;
border: 2px solid white;
background: rgba(0, 0, 0, 0.1);
}

.but1-room:hover, .but2-room:hover, .big-line:hover, .submit1:hover, 
.vector-left:hover, .vector-right:hover, .submit:hover, .vector-left1:hover, 
.big-vector:hover, .button-rub:hover, .button-rub2:hover, .vector-right1:hover,
.button-rub3:hover {
border: 2px solid #2798f1;
}

.but1-text {
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}

.but2-text {
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}

.section1-black {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 375px;
height: 1707px;
background: black;
}

.content-group1-black {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 375px;
height: 1707px;
}

.h2-black {
position: relative;
width: 212px;
height: 66px;
top: 11px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
text-align: center;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
}

.mini-text-black {
width: 311px;
height: 86px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}

.img-room2 {
position: relative;
width: 340px;
height: 241px;
}

.filter-img-room2 {
width: 340px;
height: 241px;
filter: brightness(0.9);	
}

.arrow-left {
position: relative;
width: 36px;
height: 36px;
right: 128px;
bottom: 140px;
}

.arrow-right {
position: relative;
width: 36px;
height: 36px;
bottom: 177px;
left: 131px;
}

.mini-group1-text {
position: relative;
display: flex;
flex-direction: column;
width: 150px;
height:145px;
right: 93px;
}

.city {
position: relative;
width: 59px;
height: 20px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #E3B873;
}

.lcd {
position: relative;
width: 98px;
height: 37px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: #FFFFFF;
}

.time {
position: relative;
width: 90px;
height: 20px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #E3B873;
}

.months {
position: relative;
width: 99px;
height: 37px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: #FFFFFF;
}

.mini-group2-text {
position: relative;
display: flex;
flex-direction: column;
width: 150px;
height:145px;
bottom: 149px;
left: 71px;	
}

.area {
position: relative;
width: 128px;
height: 20px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #E3B873;
}

.numbers {
position: relative;
width: 99px;
height: 37px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: #FFFFFF;
}

.cost {
position: relative;
width: 91px;
height: 20px;
top: 15px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #E3B873;
}

.upon {
position: relative;
width: 99px;
height: 37px;
top: 14px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: #FFFFFF;
}

.text-vector-one {
position: relative;
display: flex;
flex-direction: column;
bottom: 61px;
}

.online {
position: relative;
width: 224px;
height: 26px;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.grop-vectors1 {
position: relative;
display: flex;
justify-content: space-between;
width: 110px;
height: 34px;
top: 17px;
left: 59px;
}

.vector-left {
position: relative;
width: 32px;
height: 1.54px;
background: #E3B873;
border-radius: 30px;
}

.w-can {
position: relative;
width: 33px;
height: 28px;
bottom: 13px;
}

.vector-right {
position: relative;
width: 32px;
height: 1.54px;
background: #E3B873;
border-radius: 30px;
}

.img-room3 {
position: relative;
display: flex;
justify-content: space-between;
width: 340px;
height: 207px;
}

.filt-repair {
width: 340px;
height: 207px;
filter: brightness(0.4);	
}

.repair {
position: relative;
width: 340px;
height: 207px;	
}

.play {
position: relative;
width: 104px;
height: 104px;
top: 60px;
right: 218px;
}

.different {
position: relative;
display: flex;
flex-direction: column;
width: 400px;
height: 109px;
left: 33px;
}

.big-line {
position: relative;
width: 55px;
height: 1.54px;
top: 39px;
left: 143px;
background: #E3B873;
border-radius: 30px;
}

.mini-text2-black {
position: relative;
width: 340px;
height: 106.95px;
top: 52px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.fio {
position: relative;
width: 230px;
height: 30px;
top: 108px;
right: 57px;
}

.name {
position: relative;
width: 40.1px;
height: 12.51px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
}

.question {
width: 148.62px;
height: 17px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.big-vector {
width: 340px;
height: 1px;
background: rgba(54, 54, 54, 0.3);
border: 1px solid rgba(54, 54, 54, 0.3);
transform: matrix(1, 0, 0, -1, 0, 0);
}

.tel {
position: relative;
width: 230px;
height: 30px;
top: 224px;
right: 57px;
}

.number {
position: relative;
width: 55.11px;
height: 12px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
transform: rotate(-0.07deg);
}

.your {
position: relative;
width: 165px;
height: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.first-checkbox {
position: relative;
width: 300px;
height: 40px;
top: 306px;
right: 22px;
}

.label {
cursor: pointer;
}

.checkbox{
display: none;
}

.fake{
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: white;
justify-content: center;
}

.fake::before{
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before{
opacity: 1;
}

.text-check {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;	
}

.submit {
position: relative;
width: 340px;
height: 51px;
top: 353px;
z-index: 1;
border: 2px solid #E3B873;
text-align: -webkit-center;
background: #E3B873;	
}

.button-submit-text{
position: relative;
width: 92px;
height: 12px;
bottom: 5px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.section2-white {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 375px;
height: 2030px;
background: white;
}

.content-section2-white {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 375px;
height: 2030px;	
}

.types {
position: relative;
width: 257px;
height: 26px;
top: 56px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #181818;
}

.grop-vectors2 {
position: relative;
display: flex;
justify-content: space-between;
width: 110px;
height: 34px;
top: 68px;
left: 59p;
}

.vector-left1 {
width: 32px;
height: 1.54px;
background: #E3B873;
border-radius: 30px;
}

.keys {
position: relative;
width: 27.99px;
height: 28px;
bottom: 15px;
}

.vector-right1 {
width: 32px;
height: 1.54px;
background: #E3B873;
border-radius: 30px;
}

.mini-section {
position: relative;
display: flex;
flex-direction: column;
width: 340px;
height:365.15px;
}

.blue-wall {
position: relative;
width: 340px;
height:365.15px;
top: 108px;
}

.text-blue-wall  {
position: relative;
display: flex;
flex-direction: column;
width: 270px;
height: 241px;
bottom: 36px;
background: white;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03); 
}

.h4 {
position: relative;
width: 192px;
height: 21px;
left: 24px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
color: #363636;
}

.list {
position: relative;
display: flex;
flex-direction: column;
width: 198px;
height: 152px;
bottom: 19px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
color: #959595;
}

.button-rub {
position: relative;
display: flex;
justify-content: center;
width: 190.43px;
height: 40px;
bottom: 55px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.text-button-rub, .text-button-rub2, .text-button-rub3 {
position: relative;
width: 152px;
height: 17.29px;
bottom: 7px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
}

.mini-section2 {
position: relative;
display: flex;
flex-direction: column;
width: 340px;
height:365.15px;
top: 284px;	
}

.red-curtains {
width: 340px;
height:365.15px;	
}

.text-red-curtains {
position: relative;
display: flex;
flex-direction: column;
width: 270px;
height: 241px;
bottom: 143px;
background: white;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.button-rub2 {
position: relative;
display: flex;
justify-content: center;
width: 190.43px;
height: 40px;
bottom: 162px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.mini-section3 {
position: relative;
display: flex;
flex-direction: column;
width: 340px;
height:365.15px;
top: 466px;	
}

.lamps {
width: 340px;
height:365.15px;	
}

.text-lamps {
position: relative;
display: flex;
flex-direction: column;
width: 270px;
height: 241px;
bottom: 142px;
background: white;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);	
}

.button-rub3 {
position: relative;
display: flex;
justify-content: center;
width: 190.43px;
height: 40px;
bottom: 162px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);	
}

.we {
position: relative;
width: 299px;
height: 66px;
top: 615px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #E3B873;
}

.watches {
position: relative;
width: 340px;
height: 242px;
}

.filter-watches {
position: relative;
width: 340px;
height: 242px;
top: 621px;
filter: brightness(0.7);
z-index: 1;	
}

.arrow-left1 {
position: relative;
width: 61px;
height: 61px;
top: 464px;
right: 142px;
z-index: 1;
}

.arrow-right1 {
position: relative;
width: 61px;
height: 61px;
top: 402px;
left: 143px;
z-index: 1;
}

.section3-black {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 375px;
height: 1135px;
background: black;
}

.content-section3-black {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 375px;
height: 1707px;
}

.have {
position: relative;
width: 257px;
height: 26px;
top: 161px;

font-family: "Yeseva One", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.fio1 {
position: relative;
width: 230px;
height: 30px;
top: 185px;
right: 57px;
}

.name {
position: relative;
width: 40.1px;
height: 12.51px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
}

.question {
width: 148.62px;
height: 17px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.big-vector {
width: 340px;
height: 1px;
background: #FFFFFF;;
border: 1px solid rgba(54, 54, 54, 0.3);
transform: matrix(1, 0, 0, -1, 0, 0);
}

.tel1 {
position: relative;
width: 230px;
height: 30px;
top: 268px;
right: 57px;
}

.number {
position: relative;
width: 55.11px;
height: 12px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
transform: rotate(-0.07deg);
}

.your {
position: relative;
width: 165px;
height: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.question1 {
position: relative;
width: 230px;
height: 30px;
top: 356px;
right: 57px;
}

.number {
position: relative;
width: 55.11px;
height: 12px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
transform: rotate(-0.07deg);
}

.your {
position: relative;
width: 165px;
height: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}

.first-checkbox1 {
position: relative;
width: 300px;
height: 40px;
top: 425px;
right: 22px;
}

.label {
cursor: pointer;
}

.checkbox{
display: none;
}

.fake{
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: white;
justify-content: center;
}

.fake::before{
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before{
opacity: 1;
}

.submit1 {
position: relative;
width: 340px;
height: 51px;
top: 473px;
border: 2px solid #E3B873;
text-align: -webkit-center;
background: #E3B873;		
}

.filter-navigator {
position: relative;
width: 340px;
height: 255px;
top: 525px;
filter: brightness(0.7);
}

.navigator {
width: 340px;
height: 255px;	
}

.common {
position: relative;
width: 294px;
height: 70.56px;
top: 547px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
text-transform: uppercase;
color: #E3B873;
}

.footer {
position: relative;
width: 375px;
height: 108px;
top: 318px;
background: black;
}

.footer-content {
position: relative;
display: flex;
justify-content: center;
width: 390px;
height: 83px;
top: 24px;
}

.email {
position: relative;
width: 39px;
height: 39px;
width: 39px;
right: 16px;
}

.insta {
position: relative;
width: 39px;
height: 39px;
}

@media screen and (min-width: 768px) {

body { background:#9e9e9e38; }

.wrapper { width: 768px; }

.header { width: 768px; }

.room { width: 768px; }

.filter-room { width: 768px; }

.img-room { width: 768px; }

.text-room { left: 237px; }

.section1-black { width: 768px; bottom: 0px;}

.filter-img-room2 {width: 530px; position: relative; }

.img-room2 { width: 530px; }

.arrow-left { right: 198px; }

.arrow-right { left: 215px; }

.mini-group1-text { right: 184px; }

.mini-group2-text { left: 209px; }

.img-room3 { width: 530px; right: 91p;}

.filt-repair { width: 530px; }

.repair { width: 530px; }

.play { right: 317px; }

.section2-white {width: 768px; }

.filter-watches { width: 530px; }

.watches { width: 530px; }

.section3-black { width: 768px; }

.filter-navigator { width: 530px; }

.navigator { width: 530px; }

.footer { width: 768px; }

.footer-content { left: 198px; }
}

@media screen and (min-width: 1024px) {

body { background:#9e9e9e38; }

.wrapper { width: 1024px; }

.header { width: 1024px; }

.ic { width: 177px; font-size: 13px; left: 30px;}

.telephon { width: 119px; font-size: 13px; right: 30px;}

.room { width: 1024px; height: 563px;}

.filter-room { width: 1024px; height: 563px;}

.img-room { width: 1024px; height: 563px;}

.text-room {bottom: 443px; left: 342px; }

.but1-room { top: 119px; right: 287px;}

.but2-room { top: 68px; left: 294px;}

.h1 { top: 30px; left: 35px;}

.mini-text-room { top: 17px; left: 35px;}

.section1-black { width: 1024px;top: 0px; bottom: 0px;}

.filter-img-room2 { width: 700px; height: 276px;}

.img-room2 { width: 700px; height: 276px;}

.arrow-right { left: 280px; }

.arrow-left { right: 280px;}

.mini-group1-text { right: 230px; }

.mini-group2-text { left: 294px; }

.img-room3 { width: 700px; }

.filt-repair {position: relative; width: 700px; }

.repair {width: 700px; height: 254px;}

.play {top: 86px; right: 401px; }

.different { top: 45px; }

.fio { top: 152px; right: 228px;}

.tel { top: 224px; right: -114px;}

.first-checkbox {top: 297px; right: -2px; }

.submit { top: 317px; }

.section2-white {width: 1024px; top: 0px; }

.mini-section { right: 169px; }

.mini-section2 {top: 264px; left: 169px; }

.mini-section3 { right: 169px; }

.filter-watches { width: 700px; height: 310px;}

.watches { width: 700px; height: 310px;}

.arrow-left1 { top: 454px; right: 270px;}

.arrow-right1 { top: 391px; left: 275px;}

.section3-black { width: 1024px; top: 0px;}

.have { top: 224px; }

.fio1 {top: 263px; right: 220px; }

.tel1 {top: 319px; right: -150px; }

.question1 { right: 212px; }

.first-checkbox1 { top: 440px; right: 0px;}

.filter-navigator { width: 700px; }

.navigator { width: 700px; }

.footer { width: 1024px;top: 406px; }

.footer-content { left: 324px; }
}

@media screen and (min-width: 1440px) {

body { background:#9e9e9e38; }

.wrapper { width: 100%; }

.header { width: 100%; }

.room { width: 1440px; height: 693px;}

.filter-room { width: 1440px;height: 693px;}

.img-room { width: 1440px;height: 693px; }

.text-room { left: 539px; }

.but1-room { right: 481px; }

.but2-room { left: 511px; }

.h1 { top: 0px; left: 56px;}

.mini-text-room { top: 0px; left: 56px;}

.section1-black { width: 100%; bottom: 0px;}

.section2-white {width: 100%; }

.mini-section { right: -302px; }

.mini-section2 { top: 329px; left: -277px;}

.mini-section3 { right: -312px; }

.section3-black { width: 1440px; }

.footer { width: 100%;top: 535px; }

.footer-content { left: 535px; }
}

@media screen and (min-width: 1600px) {

body { background:green; }

.wrapper { width: 100%; }

.header { width: 100%; }

.ic { left: 122px; }

.telephon { right: 98px; }

.room { width: 100%; height: 923px;}

.filter-room { width: 100%; height: 923px; }

.img-room { width: 100%; height: 923px;}

.but1-room { right: 459px; }

.but2-room { left: 526px; }

.text-room { left: 596px; }

.h1 { top: -163px; }

.mini-text-room { top: -163px; }

.section1-black { width: 100%; bottom: 0px;}

.filter-img-room2 { width: 892px; height: 313px;}

.img-room2 { width: 892px; height: 313px; }

.arrow-left { right: 368px; }

.arrow-right { left: 381px; }

.filt-repair {  width: 892px; height: 313px; right: 99px; bottom: 47px;}

.repair { width: 892px; height: 313px;}

.play { right: 595px; }

.different { width: 546px; }

.big-line { left: 212px; }

.mini-text2-black { width: 491px; font-size: 14px; line-height: 22px;}

.fio { right: 329px; }

.tel {top: 119px; right: -223px; }

.first-checkbox { top: 228px; right: 2px;}

.submit { top: 279px; }

.section2-white {width: 100%;  }

.mini-section { width: 468px; height: 427.15px; right: 484px;}

.blue-wall { width: 468px; height: 427.15px; }

.mini-section2 { width: 468px; height: 427.15px; top: 124px; left: 10px;}

.red-curtains { width: 468px; height: 427.15px; }

.mini-section3 { width: 468px; height: 427.15px; top: 145px; right: -503px;}

.lamps { width: 468px; height: 427.15px;}

.we { top: 318px; }

.filter-watches {width: 892px; height: 391px; top: 348px; }

.watches { width: 892px; height: 391px;}

.arrow-left1 { top: 131px; right: 373px;}

.arrow-right1 { top: 71px; left: 378px;}

.section3-black { width: 100%; }

.fio1 { right: 321px; } 

.tel1 { top: 221px; right: -209px;}

.question1 {top: 327px; right: 62px; }

.filter-navigator { width: 982px; height: 313px; }

.navigator {  width: 982px; height: 313px; }

.common { width: 738px; }

.footer { width: 100%; top: 766px;}

.footer-content { left: 607px; }
}

@media screen and (min-width: 1920px) {

body { background: yellow; }

.wrapper { width: 100%; }

.header { width: 100%; }

.ic { width: 220px; font-size: 16px;}

.telephon { width: 147px; right: 115px; font-size: 16px;}

.room { width: 100%; height: 1186px;}

.filter-room { width: 100%; height: 1186px;}

.img-room { width: 100%; height: 1186px;}

.text-room { left: 549px; }

.but1-room {width: 535px; height: 135px; right: -155px;top: -213px; }

.but2-room { width: 535px; height: 135px; top:-157px ; left: 156px;}

.h1 { width: 396px; top: -369px; left: 146px; font-size: 33px; line-height: 42px;}

.mini-text-room { width: 539px; top: -369px; left: 146px; font-size: 27px; line-height: 25px;}

.section1-black { width: 100%; bottom: 0px;}

.h2-black, .types, .we  { font-size: 24px; }

.mini-text-black {width: 354px; font-size: 16px; }

.filter-img-room2 { width: 1098px; height: 350px; top: 26px;}

.img-room2 { width: 1098px; height: 350px;}

.arrow-left { width: 50px; height: 50px;}

.arrow-right { width: 50px; height: 50px; bottom: 200px;}

.city, .time, .area, .cost {width: 157px; font-size: 17px; }

.lcd, .months, .numbers, .upon { font-size: 13px; }

.filt-repair { width: 1098px; height: 350px; right: 191px;}

.repair { width: 1098px; height: 350px; }

.play { width: 154px;height: 154px; top: 69px; right: 831px;}

.different { top: 91px; }

.mini-text2-black { font-size: 16px; }

.fio {top: 177px; right: 490px; }

.tel {top: 144px; right: -382px; }

.first-checkbox { top: 173px; }

.submit  {width: 525px; height: 60px; top: 198px; left: 7px;}

.button-submit-text { font-size: 16px; }

.section2-white {width: 100%;  }

.filter-watches { width: 1098px; height: 423px; top: 330px;}

.watches { width: 1098px; height: 423px; }

.arrow-left1 { width: 100px; height: 100px; top: 86px;}

.arrow-right1 { width: 100px; height: 100px; top: -14px; }

.section3-black { width: 100%; height: 1192px;}

.have { width: 280px; font-size: 24px;}

.fio1 { right: 427px; }

.tel1 {top: 226px; right: -318px; }

.question1 { right: 45px; }

.first-checkbox1 { right: -13px; }

.submit1 { width: 525px; height: 60px; }

.filter-navigator { width: 1098px; height: 350px; }

.navigator {width: 1098px; height: 350px; }

.footer { width: 100%; top: 1085px;}

.footer-content { left: 761px; }
}